/*img{
    width: 100px;
    display: block;
    margin: auto;
}*/
h1,h2{

font-size:25px;

}

body{
background-image:url("https://blog.prepscholar.com/hs-fs/hubfs/body_rollingthedice.png?width=600&name=body_rollingthedice.png");
background-attachment: fixed;
background-size:cover;
font-family: 'Dancing Script', cursive;

}




}

body main{width:auto;
    height: 1500px;
}



.ul2 li:nth-child(odd){
font-size: medium;
color:#BE0000;
font-size: 25px;
background-color:#F7EA00 ;
}

.ul2 li:nth-child(even){
    color:#F7EA00;
    font-size: medium;
    font-size: 25px;
   background-color:#BE0000 ;

}


.c1{
    float:left;
    height:50px;
}

ul li{text-transform:uppercase;
     margin-left: 38px;
     list-style:square;

}

p{
 color: rgb(39, 25, 30);
line-height: 1.5;
text-align: center;
font-size: 38px;
background-color:#BE0000;

position: relative;
top: -75px;
}

footer{
text-align: center;
text-decoration-line: underline;
}
ol li {
    display:list-item;
    margin-left: 38px;
}
ol{list-style:decimal;color: #81B214;font-size:34px;}
main ol li{
    
    padding :5px;
    font-size: 25px;
  
}

main ol li img{   
    margin-left:2%;
}
.ul1{
    color: seagreen;
    text-align: center;
    font-size:35px;
    border-radius: 5px;
}